<!--
  Generated template for the Test2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title text-center>เช็คชื่อนักเรียน</ion-title>
    <ion-buttons large end>
      <button ion-button (click)="gohome()">
        <ion-icon name="home" color="primary"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons>
      <button ion-button (click)="poppage()">
        <ion-icon name="ios-arrow-back-outline" color="primary"> Back</ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-navbar >
    <button ion-button  round outline color="secondary">ลาป่วย</button> <button ion-button  round outline color="tertiary">ลากิจ</button> <button ion-button  round outline color="danger">ไม่มาเรียน</button>
  </ion-navbar>

  <ion-item>เช็คชื่อ {{ck_date}}</ion-item>

  <ion-card *ngFor="let res of item3">



    <button ion-item (click)="check(res)" *ngIf="res.status ==null">
      นักเรียน: {{res.student_name}}: {{res.student_sname}} ชื่อเล่น:{{res.student_nickname}}
    </button>
    <button ion-item (click)="check(res)" color="secondary" *ngIf="res.status ==2" style="opacity: 0.3;">
      นักเรียน: {{res.student_name}}: {{res.student_sname}} ชื่อเล่น:{{res.student_nickname}}
    </button>
    <button ion-item (click)="check(res)" color="tertiary" *ngIf="res.status ==3" style="opacity: 0.3;">
      นักเรียน: {{res.student_name}}: {{res.student_sname}} ชื่อเล่น:{{res.student_nickname}}
    </button>
    <button ion-item (click)="check(res)" color="danger" *ngIf="res.status ==4" style="opacity: 0.3;">
      นักเรียน: {{res.student_name}}: {{res.student_sname}} ชื่อเล่น:{{res.student_nickname}}
    </button>

  </ion-card>
  <button ion-button full (click)="ISNERT_CHECK(item3,ck_date)">บันทึก</button>
  <ion-navbar >
    <!-- <ion-title>title</ion-title> -->
  <p><b>หมายเหตุ :</b> การเช็คชื่อนี้เฉพาะนักเรียนที่(ไม่มาเรียน)</p>
  <p><b>หมายเหตุ :</b> สถานะเริ่มต้นการเช็คชื่อเท่ากับ (มาเรียน)</p>
  </ion-navbar>

</ion-content>
